/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp LS(LPAR)  &kp Q  &kp W  &kp F    &kp P         &kp B        &kp J    &kp L  &kp U      &kp Y    &kp SQT   &kp LS(RPAR)
&kp LBKT      &kp A  &kp R  &kp S    &kp T         &kp G        &kp M    &kp N  &kp E      &kp I    &kp O     &kp RBKT
&kp LS(LT)    &kp Z  &kp X  &kp C    &kp D         &kp V        &kp K    &kp H  &kp COMMA  &kp DOT  &kp FSLH  &kp LS(GT)
                            &kp TAB  &kp LA(BSPC)  &kp SPACE    &kp RET  &mo 1  &kp ESC
            >;

            label = "base";
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "nav";
        };
    };
};
